/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  padding: 20px;
}

/* Recipe Styles */
.bg-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero-section {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  height: 200px; /* Adjusted height */
}

.recipe-card {
  background-color: #72bb53; /* Changed background color */
  width: 100%; /* Ensure the card takes up the full width */
}

.recipe-container {
  padding: 20px;
  background-color: #ee6e57; /* Changed background color */
}

.recipe-content {
  padding: 40px 0;
}

.recipe-heading {
  font-size: 2.5rem;
  color: #ee6e57; /* Changed text color */
}

.recipe-description {
  font-size: 1.1rem;
  color: #6c757d; /* neutral gray */
}

.recipe-features {
  margin-top: 40px;
}

.feature-heading {
  font-size: 1.5rem;
  color: #72bb53; /* Changed text color */
}

.feature-description {
  font-size: 1.1rem;
  color: #6c757d; /* neutral gray */
}

.upgrade-section {
  margin-top: 40px;
}

.upgrade-heading {
  font-size: 1.5rem;
  color: #72bb53; /* Changed text color */
}

.recipes-section {
  margin-top: 40px;
}

.recipes-heading {
  font-size: 1.8rem;
  color: #72bb53; /* Changed text color */
}

.whats-hot-heading {
  font-size: 1.2rem;
  color: #6c757d; /* neutral gray */
}

.hero-section h1 {
  color: #ffffff; /* Adjust text color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    height: 150px; /* Adjusted height for smaller screens */
  }
}
